a:visited {
  color: floralwhite;
}

nav-item:hover {
  font-weight: bold;
  color: gray;
}

HTML{
  background-color: beige;
}

.App {
  background-color: beige;
}

/* LANDING.JSX */

.landingText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
  color: black;
}

.buttonsWrapper {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.loginOrSignUpText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

#loginButton {
  margin-top: 3%;
  background-color: #36454f;
}

#signupButton {
  margin-top: 3%;
  background-color: white;
  color: black
}

/* ABOUT.JSX */
.aboutTextWrapper {
  margin-right: 5%;
  margin-left: 5%;
}

.aboutText {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* NAV.JSX */
.nav {
  display: flex;
  flex-direction: row;
  background-color:#494ab2;
  color: floralwhite;
  position: sticky;
  top: 0;
}

#nameOnNav {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: left;
  position: absolute;
  left: 0;
  margin-left: 2%;
}

.nav-item {
  margin-right: 1%;
  margin-left: 1%;
  color: char
}

.navItemName {
  font-size: 120%;
  margin-top: 2px;
}

.navItemName:hover {
  color: lightgray;
}

#logOutButton {
  background-color: #36454f;
  border: thin;
  border-color: #494ab2;
}

/* ABOUT.JSX */
.AboutContainer {
  color: #494ab2;
}

/* LOGINFORM.JSX */
.loginFormInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.loginFormText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1%;
}

#loginFormComponentButton {
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: black;
  background-color: snow;
  border: solid;
  border-color: gray;
}

.LoginFormFormElement {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

/* LOGINFORM.JSX */
#signupFormComponentButton {
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  color: black
}

/* ADDHABITFORM.JSX */
.addHabitInputDivs {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  width: 60%;
  color: #494ab2;
}

#addHabitSubmitButtonDiv {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  width: 60%;
}

#addHabitSubmitButton {
  margin-right: auto;
  margin-left: auto;
}

#daysOfTheWeekCheckboxesContainer {
  display: flexbox;
  justify-content: space-between;
}

.dayOfTheWeekInputs {
  display: inline-block;
  margin-left: 2%;
}

/* PROFILE.JSX */

.divsInProfile {
  border: solid;
  margin-top: 1%;
  margin-bottom: 1%;
}

#profileHeaderTagContainer {
  border: none;
}

#profileHeaderTag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #36454f;
}

#habitsIWantToDevelopContainer {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin-left: 10%;
  border: none
}

#habitsIWantToDevelopHTag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #494ab2;
}

#habitsToDoTodayContainer {
  display: inline-block;
  width: 30%;
  height: 30%;
  float: right;
  margin-right: 10%;
}

#habitsToDoTodayPTag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profileDivsTopTextElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.habitWantToDevelopItem {
  border-style: solid;
  border-color: #36454f;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textOfHabitWantToDevelopItem {
  color: #36454f;
}

.pTagOfHabitsIWantToDevelop {
  margin-left: 2%;
  margin-top: 4%;
  color: #494ab2;
}

.textOfHabitWantToDevelopItem:visited {
  color: #36454f;
}

/* SINGLEHABITINFO.JSX */

#habitNameDivInSingleHabitInfo {
  margin-left: 2%;
}

#habitDescriptionDivInSingleHabitInfo {
  margin-left: 2%;
}

.hTagsInSingleHabitInfo {
  margin-top: 1%;
}

.pTagsInSingleHabitInfo {
  margin-left: 1%;
}